* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #890620;
  --font-color: #0000;
  --main-heading-color: #fab0b0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

/*-----------------------------------------*/
header {
  background: var(--secondary-color);
  width: 100%;
  height: 600px;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 56%, 0 77%);
          clip-path: polygon(0 0%, 100% 0%, 100% 56%, 0 77%);
  font-family: "PT Sans Narrow", sans-serif;
}
header .title__section {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  padding: 30px;
}
header .main__heading {
  color: var(--main-heading-color);
  font-size: 120px;
  margin-right: 30px;
}
header .main__heading .job__heading {
  color: var(--primary-color);
  font-size: 70px;
}
header p {
  color: var(--primary-color);
  font-size: 1rem;
}

.light-text {
  font-weight: lighter;
}

/*-----------------------------------------*/
/*MAIN WRAPPER  GRID SECTION*/
/*-----------------------------------------*/
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 550px 635px;
  grid-template-rows: 250px 250px 250px 250px;
  justify-content: center;
  -moz-column-gap: 125px;
       column-gap: 125px;
  row-gap: 100px;
  /*----------------------------------------*/
  /* skillset section                         */
  /*---------------------------------------- */
  /*----------------------------------------*/
  /* career traits section                  */
  /*---------------------------------------- */
  /*-------------------------------------- --*/
  /*program                                             */
  /*---------------------------------------- */
}
.wrapper .skillset {
  grid-row: 1/3;
}
.wrapper .skillset .skillset__heading {
  font-family: "PT Sans Narrow", sans-serif;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
}
.wrapper .skillset .skillset__list li {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-left: 20px;
}
.wrapper .about {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}
.wrapper .about .about__heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}
.wrapper .career {
  margin-top: -100px;
}
.wrapper .career .career__heading {
  font-family: "PT Sans Narrow", sans-serif;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
}
.wrapper .career .career__list {
  list-style: none;
}
.wrapper .career .career__list .career__paragraph1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 34px;
}
.wrapper .career .career__list .career__paragraph1 .bold {
  font-weight: bold;
}
.wrapper .career .career__list .career__paragraph {
  font-family: "PT Sans Narrow", sans-serif;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}
.wrapper .career .career__list .career__paragraph .bold {
  font-weight: bold;
}
.wrapper .certification {
  width: 350px;
  margin-top: -250px;
}
.wrapper .certification .certification__heading {
  font-family: "PT Sans Narrow", sans-serif;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
}
.wrapper .certification-list {
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 34px;
  margin-left: 20px;
}
.wrapper .experience__heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  padding: 10px 0;
}
.wrapper .program__analyst {
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrapper .program__analyst--responsibilities li {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 34px;
  font-size: 20px;
  margin-left: 20px;
}
.wrapper .Sifmis__heading {
  line-height: 24px;
  margin-top: -50px;
  justify-content: space-between;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrapper .Sifmis--responsibilities li {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 34px;
  font-size: 20px;
  margin-left: 20px;
}

.schoolTeacher .schoolTeacher__heading {
  line-height: 24px;
  margin-top: 66px;
  justify-content: space-between;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.schoolTeacher .schoolTeacher--responsibilities {
  line-height: 34px;
}
.schoolTeacher .schoolTeacher--responsibilities li {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.intern .intern__heading {
  line-height: 24px;
  margin-top: 66px;
  justify-content: space-between;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.intern .intern--responsibilities li {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 34px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.projects .projects__heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}
.projects .projects__list li {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-left: 20px;
}

/*----------------------------------------*/
/*  education section                     */
/*---------------------------------------- */
.education {
  line-height: 46px;
}
.education .education__heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}
.education .education__timeline {
  justify-content: space-between;
}
.education .education__paragraph--1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--secondary-color);
}
.education .education__paragraph--2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 700;
}

.timeline {
  text-transform: lowercase;
  text-transform: capitalize;
}

footer {
  width: 100%;
  height: 500px;
  background: var(--secondary-color);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer__heading {
  font-family: "Playfair Display", serif;
  font-size: 66px;
  font-weight: 900;
  line-height: 82px;
  margin: auto;
  color: var(--primary-color);
}
footer .contact-info {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin: auto;
  color: var(--primary-color);
}
footer .social-media__list {
  list-style: none;
  display: inline-flex;
  margin-top: 66px;
  margin: auto;
}
footer .social-media__list li {
  margin: 0 30px;
}

@media (max-width: 1350px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
  }
  /*-----------------------------------------*/
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 500px;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 80%, 0 95%);
            clip-path: polygon(0 0%, 100% 0%, 100% 80%, 0 95%);
  }
  header .title__section {
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading {
    color: var(--main-heading-color);
    font-size: 90px;
  }
  header .title__section .main__heading .job__heading {
    color: var(--primary-color);
    font-size: 60px;
  }
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas: "gridItem2" "gridItem1" "gridItem3" "gridItem4" "gridItem5" "gridItem6" "gridItem7" "gridItem8";
    /*----------------------------------------*/
    /* skillset section                         */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* career traits section                  */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*program                           */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* tourguide section                      */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*  education section                     */
    /*---------------------------------------- */
  }
  .wrapper .skillset {
    margin-top: 100px;
    grid-row-start: 2;
  }
  .wrapper .skillset .skillset__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .skillset .skillset__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 34px;
  }
  .wrapper .about {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 80px;
    width: 100%;
  }
  .wrapper .about .about__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .wrapper .experience {
    margin-top: 20px;
    grid-row-start: 3;
  }
  .wrapper .experience .experience__heading--frontend {
    font-family: "PT Sans Narrow", sans-serif;
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--secondary-color);
  }
  .wrapper .experience .experience__heading--frontend .experience__duration {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 700;
  }
  .wrapper .experience .experience__paragraph {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
  }
  .wrapper .certification {
    width: 350px;
    margin-top: 50px;
  }
  .wrapper .certification .certification__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .certification-list {
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
  }
  .wrapper .career {
    margin-top: 30px;
  }
  .wrapper .career .career__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .wrapper .career .career__list {
    list-style: none;
  }
  .wrapper .career .career__list .career__paragraph1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph1 .bold {
    font-weight: bold;
  }
  .wrapper .career .career__list .career__paragraph {
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph .bold {
    font-weight: bold;
  }
  .wrapper .experience__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
  }
  .wrapper .program {
    margin-top: 50px;
  }
  .wrapper .program .program__analyst {
    line-height: 24px;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .program .program__analyst--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 20px;
  }
  .wrapper .Sifmis .Sifmis__heading {
    width: 100%;
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .Sifmis .Sifmis--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 20px;
  }
  .wrapper .education {
    line-height: 46px;
    padding-top: 50px;
  }
  .wrapper .education .education__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
  }
  .wrapper .education .education__timeline {
    justify-content: space-between;
  }
  .wrapper .education .education__paragraph--1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
  }
  .wrapper .education .education__paragraph--2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 700;
  }
  .wrapper .projects {
    margin-top: 50px;
  }
  .wrapper .projects .projects__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
  }
  .wrapper .projects .projects__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-left: 20px;
  }
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  footer .footer__heading {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 66px;
    font-weight: 900;
    line-height: 82px;
    padding-top: 60px;
    margin: auto;
  }
  footer .contact-info {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 10px;
    color: var(--primary-color);
    margin: auto;
  }
  footer .social-media__list {
    list-style: none;
    display: inline-flex;
    margin-top: 66px;
    margin: auto;
  }
  footer .social-media__list li {
    margin: 0 30px;
  }
}
@media (max-width: 768px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }
  /*-----------------------------------------*/
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 500px;
  }
  header .title__section {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
  }
  header .title__section .main__heading {
    color: var(--main-heading-color);
    font-size: 90px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading .job__heading {
    color: var(--primary-color);
    font-size: 40px;
  }
  header .title__section p {
    color: var(--primary-color);
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas: "gridItem2" "gridItem1" "gridItem3" "gridItem4" "gridItem5" "gridItem6" "gridItem7" "gridItem8";
    /*----------------------------------------*/
    /* career traits section                  */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*program                           */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* tourguide section                      */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*  education section                     */
    /*---------------------------------------- */
  }
  .wrapper .certification {
    width: 350px;
    margin-top: 50px;
  }
  .wrapper .certification .certification__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .career {
    margin-top: 30px;
  }
  .wrapper .career .career__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .wrapper .career .career__list {
    list-style: none;
  }
  .wrapper .career .career__list .career__paragraph1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph1 .bold {
    font-weight: bold;
  }
  .wrapper .career .career__list .career__paragraph {
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph .bold {
    font-weight: bold;
  }
  .wrapper .program {
    margin-top: 50px;
  }
  .wrapper .program .program__analyst {
    line-height: 24px;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .program .program__analyst--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 20px;
  }
  .wrapper .Sifmis .Sifmis__heading {
    width: 100%;
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .Sifmis .Sifmis--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 20px;
  }
  .wrapper .education {
    line-height: 46px;
    padding-top: 50px;
  }
  .wrapper .education .education__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
  }
  .wrapper .education .education__timeline {
    justify-content: space-between;
  }
  .wrapper .education .education__paragraph--1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
  }
  .wrapper .education .education__paragraph--2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 700;
  }
  .wrapper .projects {
    margin-top: 50px;
  }
  .wrapper .projects .projects__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
  }
  .wrapper .projects .projects__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-left: 20px;
  }
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  footer .footer__heading {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 66px;
    font-weight: 900;
    line-height: 82px;
    padding-top: 60px;
    margin: auto;
  }
  footer .contact-info {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 10px;
    color: var(--primary-color);
    margin: auto;
  }
  footer .social-media__list {
    list-style: none;
    display: inline-flex;
    margin-top: 66px;
    margin: auto;
  }
  footer .social-media__list li {
    margin: 0 30px;
  }
}
@media (max-width: 750px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  body {
    width: 100%;
  }
  /*-----------------------------------------*/
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 300px;
  }
  header .title__section {
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading {
    color: var(--main-heading-color);
    font-size: 60px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading .job__heading {
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
  }
  header .title__section p {
    color: var(--primary-color);
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
  }
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas: "gridItem2" "gridItem1" "gridItem3" "gridItem4" "gridItem5" "gridItem6" "gridItem7" "gridItem8";
    /*----------------------------------------*/
    /* skillset section                         */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* career traits section                  */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*program                           */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* tourguide section                      */
    /*---------------------------------------- */
  }
  .wrapper .skillset {
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    grid-row-start: 2;
  }
  .wrapper .skillset .skillset__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .skillset .skillset__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 34px;
  }
  .wrapper .about {
    margin-left: 20px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 90px;
    padding-bottom: 30px;
    width: 100%;
  }
  .wrapper .about p {
    margin-right: 30px;
  }
  .wrapper .about .about__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .wrapper .certification {
    margin-right: 20px;
    margin-left: 20px;
    width: 350px;
    margin-top: 50px;
  }
  .wrapper .certification .certification__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .career {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .wrapper .career .career__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .wrapper .career .career__list {
    list-style: none;
  }
  .wrapper .career .career__list .career__paragraph1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph1 .bold {
    font-weight: bold;
  }
  .wrapper .career .career__list .career__paragraph {
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph .bold {
    font-weight: bold;
  }
  .wrapper .program {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .wrapper .program .program__analyst {
    line-height: 24px;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .program .program__analyst--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .Sifmis {
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .Sifmis .Sifmis__heading {
    width: 100%;
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .Sifmis .Sifmis--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .schoolTeacher {
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .schoolTeacher .schoolTeacher__heading {
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities {
    line-height: 34px;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }
  .wrapper .intern {
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .intern .intern__heading {
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .wrapper .intern .intern--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }
  .wrapper .projects {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .wrapper .projects .projects__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 46px;
  }
  .wrapper .projects .projects__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    margin-left: 20px;
  }
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  footer .footer__heading {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 82px;
    margin: auto;
  }
  footer .contact-info {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 10px;
    color: var(--primary-color);
    margin: auto;
  }
  footer .social-media__list {
    list-style: none;
    display: inline-flex;
    margin-top: 66px;
    margin: auto;
  }
  footer .social-media__list li {
    margin: 0 30px;
  }
}
@media (max-width: 550px) {
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 300px;
  }
  header .title__section {
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading {
    color: var(--main-heading-color);
    font-size: 40px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading .job__heading {
    color: var(--primary-color);
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 414px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
  /*-----------------------------------------*/
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 300px;
  }
  header .title__section {
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading {
    color: var(--main-heading-color);
    font-size: 40px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading .job__heading {
    color: var(--primary-color);
    font-size: 24px;
  }
  header .title__section p {
    color: var(--primary-color);
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas: "gridItem2" "gridItem1" "gridItem3" "gridItem4" "gridItem5" "gridItem6" "gridItem7" "gridItem8";
    /*----------------------------------------*/
    /* skillset section                         */
    /*---------------------------------------- */
  }
  .wrapper .skillset {
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    grid-row-start: 2;
  }
  .wrapper .skillset .skillset__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .skillset .skillset__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 34px;
  }
  .wrapper .about {
    margin-left: 20px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 90px;
    padding-bottom: 30px;
    width: 100%;
  }
  .wrapper .about p {
    margin-right: 30px;
  }
  .wrapper .about .about__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .wrapper .projects {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .wrapper .projects .projects__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 46px;
  }
  .wrapper .projects .projects__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    margin-left: 20px;
  }
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  footer .footer__heading {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 82px;
    margin: auto;
  }
  footer .contact-info {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 10px;
    color: var(--primary-color);
    margin: auto;
  }
  footer .social-media__list {
    list-style: none;
    display: inline-flex;
    margin-top: 66px;
    margin: auto;
  }
  footer .social-media__list li {
    margin: 0 30px;
  }
}
@media (max-width: 375px) {
  /*-----------------------------------------*/
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 300px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 50%, 0 70%);
            clip-path: polygon(0 0%, 100% 0%, 100% 50%, 0 70%);
  }
  header .title__section {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
  }
  header .title__section .main__heading {
    color: var(--main-heading-color);
    font-size: 30px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading .job__heading {
    color: var(--primary-color);
    font-size: 28px;
  }
  header .title__section p {
    color: var(--primary-color);
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
  }
  /*-----------------------------------------*/
  .wrapper {
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas: "gridItem2" "gridItem1" "gridItem3" "gridItem4" "gridItem5" "gridItem6" "gridItem7" "gridItem8";
    padding-left: 20px;
    padding-right: 20px;
    /*----------------------------------------*/
    /* skillset section                         */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* career traits section                  */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*experience section                         */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*program   analyst                               */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* sifmis section     */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* school teacher section     */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*  projects section                               */
    /*---------------------------------------- */
  }
  .wrapper .skillset {
    margin-top: 100px;
    grid-row-start: 2;
  }
  .wrapper .skillset .skillset__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .skillset .skillset__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 34px;
  }
  .wrapper .about {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 80px;
    width: 100%;
  }
  .wrapper .about .about__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .wrapper .certification {
    width: 350px;
    margin-top: 50px;
  }
  .wrapper .certification .certification__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .certification-list {
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
  }
  .wrapper .career {
    margin-top: 30px;
  }
  .wrapper .career .career__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .wrapper .career .career__list {
    list-style: none;
  }
  .wrapper .career .career__list .career__paragraph1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph1 .bold {
    font-weight: bold;
  }
  .wrapper .career .career__list .career__paragraph {
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph .bold {
    font-weight: bold;
  }
  .wrapper .program {
    margin-top: 50px;
  }
  .wrapper .program .program__analyst {
    line-height: 24px;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .program .program__analyst--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .Sifmis .Sifmis__heading {
    width: 100%;
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .Sifmis .Sifmis--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .schoolTeacher .schoolTeacher__heading {
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities {
    line-height: 34px;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }
  .wrapper .projects {
    margin-top: 50px;
  }
  .wrapper .projects .projects__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 46px;
  }
  .wrapper .projects .projects__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    margin-left: 20px;
  }
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
  }
  footer .footer__heading {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 82px;
    margin: auto;
  }
  footer .contact-info {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 10px;
    color: var(--primary-color);
  }
  footer .social-media__list {
    list-style: none;
    display: inline-flex;
    margin-top: 66px;
    margin: auto;
  }
  footer .social-media__list li {
    margin: 0 30px;
  }
}
@media (max-width: 360px) {
  /*-----------------------------------------*/
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 300px;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 50%, 0 70%);
            clip-path: polygon(0 0%, 100% 0%, 100% 50%, 0 70%);
  }
  header .title__section {
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading {
    font-size: 30px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section .main__heading .job__heading {
    color: var(--primary-color);
    font-size: 24px;
  }
  header .title__section p {
    color: var(--primary-color);
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas: "gridItem2" "gridItem1" "gridItem3" "gridItem4" "gridItem5" "gridItem6" "gridItem7" "gridItem8";
    padding-left: 10px;
    padding-right: 10px;
    /*----------------------------------------*/
    /* skillset section                         */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* career traits section                  */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*program                           */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* tourguide section                      */
    /*---------------------------------------- */
  }
  .wrapper .skillset {
    margin-top: 100px;
    grid-row-start: 2;
  }
  .wrapper .skillset .skillset__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .skillset .skillset__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 34px;
  }
  .wrapper .about {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: -50px;
    margin-bottom: 80px;
    width: 100%;
  }
  .wrapper .about .about__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .wrapper .certification {
    width: 300px;
    margin-top: 50px;
  }
  .wrapper .certification .certification__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .certification-list {
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
  }
  .wrapper .career {
    margin-top: 30px;
  }
  .wrapper .career .career__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .wrapper .career .career__list {
    list-style: none;
  }
  .wrapper .career .career__list .career__paragraph1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph1 .bold {
    font-weight: bold;
  }
  .wrapper .career .career__list .career__paragraph {
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph .bold {
    font-weight: bold;
  }
  .wrapper .program {
    margin-top: 50px;
  }
  .wrapper .program .program__analyst {
    line-height: 24px;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .program .program__analyst--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .Sifmis .Sifmis__heading {
    width: 100%;
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .Sifmis .Sifmis--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .schoolTeacher .schoolTeacher__heading {
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities {
    line-height: 34px;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }
  .wrapper .projects {
    margin-top: 50px;
  }
  .wrapper .projects .projects__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 46px;
  }
  .wrapper .projects .projects__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    margin-left: 20px;
  }
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer .footer__heading {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    margin: auto;
  }
  footer .contact-info {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: var(--primary-color);
    margin: auto;
  }
  footer .social-media__list {
    list-style: none;
    display: inline-flex;
    margin-top: 66px;
    margin: auto;
  }
  footer .social-media__list li {
    margin: 0 30px;
  }
}
@media (max-width: 320px) {
  /*-----------------------------------------*/
  header {
    background: var(--secondary-color);
    width: 100%;
    height: 700px;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 50%, 0 70%);
            clip-path: polygon(0 0%, 100% 0%, 100% 50%, 0 70%);
  }
  header .title__section {
    margin-right: 3px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
  }
  header .title__section .job__heading {
    color: var(--primary-color);
    font-size: 24px;
  }
  header .title__section .main__heading {
    color: var(--main-heading-color);
    font-size: 50px;
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title__section p {
    color: var(--primary-color);
    font-size: 0.5rem;
    color: rgb(255, 255, 255);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 240px;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas: "gridItem2" "gridItem1" "gridItem3" "gridItem4" "gridItem5" "gridItem6" "gridItem7" "gridItem8";
    padding-left: 10px;
    padding-right: 10px;
    /*----------------------------------------*/
    /* skillset section                         */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* career traits section                  */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /*program                           */
    /*---------------------------------------- */
    /*----------------------------------------*/
    /* tourguide section                      */
    /*---------------------------------------- */
  }
  .wrapper .skillset {
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    grid-row-start: 2;
  }
  .wrapper .skillset .skillset__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .skillset .skillset__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 34px;
  }
  .wrapper .about {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: -50px;
    margin-bottom: 80px;
    margin-left: 20px;
    width: 100%;
  }
  .wrapper .about .about__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .wrapper .about p {
    margin-right: 30px;
  }
  .wrapper .certification {
    width: 300px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .certification .certification__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .wrapper .certification-list {
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
    margin-right: 50px;
  }
  .wrapper .career {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .career .career__heading {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .wrapper .career .career__list {
    list-style: none;
  }
  .wrapper .career .career__list .career__paragraph1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph1 .bold {
    font-weight: bold;
  }
  .wrapper .career .career__list .career__paragraph {
    font-family: "PT Sans Narrow", sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
  }
  .wrapper .career .career__list .career__paragraph .bold {
    font-weight: bold;
  }
  .wrapper .program {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .program .program__analyst {
    line-height: 24px;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .program .program__analyst--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .Sifmis {
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .Sifmis .Sifmis__heading {
    width: 100%;
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
  }
  .wrapper .Sifmis .Sifmis--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
  }
  .wrapper .schoolTeacher {
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .schoolTeacher .schoolTeacher__heading {
    line-height: 24px;
    margin-top: 66px;
    justify-content: space-between;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities {
    line-height: 34px;
  }
  .wrapper .schoolTeacher .schoolTeacher--responsibilities li {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 34px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
  }
  .wrapper .projects {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .wrapper .projects .projects__heading {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 46px;
  }
  .wrapper .projects .projects__list li {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    margin-left: 20px;
  }
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer .footer__heading {
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin: auto;
  }
  footer .contact-info {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
  }
  footer .social-media__list {
    list-style: none;
    display: inline-flex;
    margin-top: 10px;
    margin: auto;
  }
  footer .social-media__list li {
    margin: 0 20px;
  }
}
@media (max-width: 300px) {
  footer {
    background: var(--secondary-color);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=style.css.map */